.rootPane {
    -fx-background-color: white;
}

.imagePane {
    -fx-padding: 10;
    -fx-background-color: rgba(253, 168, 30, 0.42);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}

.fields {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 10;
    -fx-border-color: black;
}

.fields .floating-text{
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-family: "Berlin Sans FB";
}

.button {
    -fx-background-color: #ecc667;
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.categoryLabel {
    -fx-background-color: #b08b29;
    -fx-background-radius: 10;
    -fx-text-alignment: center;
}

.popularLabel {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-text-alignment: center;
}